.Signup-main-container {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.Signup-signup-title {
    box-sizing: content-box;
    margin: 0;
  }
  
  .Signup-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .Signup-signup-container {
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 15%;
    height: 600px;
    width: 500px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    padding-bottom: 10px;
    
  }
  
  .Signup-signup-title {
    font-family: 'Gugi', cursive;
    font-size: 60px;
    display: block;
    margin-bottom: 20px;
  
  }
  
  .Signup-signup-main-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .Signup-input-field-wrapper {
    width: 100%;
    position: relative;
  }
  
  .Signup-text-input {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding:20px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  #Signup-button {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    border:none;
    background-color: #3C26FF;
    color: white;
    cursor: pointer;
  }
  
  .Signup-input-title {
    position: absolute;
    left:20px;
    top:5px;
    color:grey;
  }
  
  .Signup-text-input:focus ~ .Signup-input-title, .Signup-text-input:valid ~ .Signup-input-title{
    display: none;
  }
  
  .Signup-text-input:valid ~ .Signup-input-title{
    display: none;
  }
  
  .Signup-red-text {
    color:red
  }
  
  .Signup-black-text {
    color:black;
  }
  
  .Signup-error-box {
    position: absolute;
    height: 200px;
    width: 300px;;
    border: 2px solid;
    border-radius: 5px;
    top:190px;
    left:370px;
  }
  
  #Signup-button:disabled {
    background-color: black;
    cursor:default;
  }