.main-container {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    position: relative;
}

.left-sidebar {
    background-color: #83b2f8;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.chat-header {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: space-between; /* Push children to the start and end of the container */
    height: 100px; /* Example height, adjust as needed */
    border-width: 1px;
    border-style: solid;
  }

  .friends-toggle{
    border-color: black;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    /*border-style: solid;*/
    left: 80px; /* Start from the leftmost side */
    right: 0px; /* Stretch it to the rightmost side */
    height: 60%;
    width: 100%;
    
}

.friends-list {
    position: absolute;
    bottom: 50px; /* Adjust this value to the height of your friends-toggle bar so it appears right above it */
    left: 0;
    right: 0;
    background-color: #fff; /* or any color you want */
    z-index: 1; /* Optional, but can be helpful if you want it to appear above other elements */
    /* other styles ... */
}

 
.chat {
    position: relative;
    width: 100%;
}
  
.result{
    display: flex;
}
  
.profile_image{
    height: 40%;
    width: 100%
}

.friends_button{
    display: flex;
    height: 10%;
    text-align: center;
    width: 100%;
    user-select: none;
    /* border-color: black;
    border-width: 1px;
    border-style: solid; */
}

.friends_profile_pic{
    display: flex;
    width: 30%;
}

.friends_name{
    flex-grow: 1;
    width: 30%;
}

.message_button{
    width: 10%;
}

.trash_button{
    width: 10%;
}

.friends_results{
    display: flex;
    width: 100%;
    flex-direction: row;
}

